/* Error: Expected expression.
 *     ,
 * 254 |   background-image: ;
 *     |                     ^
 *     '
 *   scss\estilos.scss 254:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a     \2577 \a 254 \2502    background-image: ;\d\a     \2502                      ^\a     \2575 \a   scss\\estilos.scss 254:21  root stylesheet";
}
