@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@keyframes space-jam {
  from {
    background-position: 500px 70px, 0px 0px, 0px 0px, 0px 0px;
  }
  to {
    background-position: -500px 70px, -1390px 0px, -695px 0px, -695px 0px;
  }
}
@keyframes green-ls-in {
  0% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}
@keyframes green-ls-out {
  0% {
    transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@keyframes fadein {
  from {
    Opacity: 0;
  }
  to {
    Opacity: 1;
  }
}
@keyframes deathStar {
  0% {
    position: relative;
  }
  25% {
    position: relative;
    top: 2%;
  }
  50% {
    position: relative;
    top: 0;
  }
  75% {
    position: relative;
    top: -2%;
  }
  100% {
    position: relative;
    top: 0;
  }
}
@keyframes halcon {
  0% {
    left: -5vw;
    bottom: 0vh;
  }
  25% {
    left: 20vw;
    bottom: 3vh;
  }
  50% {
    left: -5vw;
    bottom: 0;
  }
  75% {
    left: 22vw;
    bottom: -3vh;
  }
  100% {
    left: -5vw;
    bottom: 0vh;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: star;
  letter-spacing: 2px;
  font-weight: 300;
}

@font-face {
  font-family: star;
  src: url(../resources/fuente/Starjedi.ttf);
}
#container {
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 0%;
  left: 0%;
}

#burger {
  cursor: pointer;
  opacity: 0;
  animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
#burger .filling, #burger .bun {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 10%;
  width: 70%;
  transform-origin: 50% 50%;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s;
}
#burger .filling:before, #burger .bun:before, #burger .filling:after, #burger .bun:after {
  content: "";
  display: block;
  height: 40%;
  background: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -45%);
  transition: background 0.2s ease, box-shadow 0.2s ease;
}
#burger .filling:before, #burger .bun:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}
#burger .filling:after, #burger .bun:after {
  right: 0;
  width: calc(-1px + 25%);
}
#burger:hover .bun.top:before {
  background: #FEE;
  box-shadow: #F00 0px 0px 10px 1px;
}
#burger:hover .bun.bottom:before {
  background: #DFF;
  box-shadow: #0FF 0px 0px 10px 1px;
}
#burger:hover .filling:before {
  background: #EFE;
  box-shadow: #0F0 0px 0px 10px 1px;
}
#burger .bun.top {
  top: 25%;
}
#burger .bun.bottom {
  top: 75%;
}
#burger .filling {
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  animation: green-ls-out 0.8s ease forwards;
}
#burger.active .bun {
  border-radius: 3px;
  top: 50%;
  transition: top 0.4s ease, transform 0.4s ease;
}
#burger.active .bun.top {
  transform: translate(-50%, -50%) rotate(-225deg);
}
#burger.active .bun.bottom {
  transform: translate(-50%, -50%) rotate(405deg);
}
#burger.active .filling {
  transform: translate(-50%, -50%) rotate(-90deg);
  animation: green-ls-in 0.8s ease forwards;
}

.menu__mobile {
  margin-top: 10%;
  height: fit-content;
  font-family: star;
  font-weight: 100;
  color: white;
  background: #111;
  position: absolute;
  transform: translatex(-200%);
  transition: transform 0.5s ease;
  top: 20vw;
  bottom: 0px;
  padding-right: 16px;
  width: 300px;
  z-index: 10;
}
@media screen and (min-width: 580px) {
  .menu__mobile {
    transform: translatex(-500%);
  }
}
.menu__mobile.show {
  transform: translatex(-10%);
}
@media screen and (min-width: 580px) {
  .menu__mobile.show {
    transform: translatex(-100%);
  }
}
.menu__mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__mobile ul li {
  background: #ecfcff;
  box-shadow: #4df 0px 0px 0px 2px;
  font-size: 1.75em;
  line-height: 1.25em;
  padding: 0px;
  padding-left: 0px;
  margin: 16px 0px;
  width: 0;
  border-radius: 0px 100px 100px 0px;
  transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}
.menu__mobile ul li:hover {
  box-shadow: #4df 0px 0px 20px 2px;
  text-shadow: #4df 0px 0px 6px, #4df 0px 0px 10px;
}
.menu__mobile ul li:hover {
  width: 100%;
  padding: 0px 16px 0px 0px;
  color: black;
}
.menu__mobile ul li a {
  display: block;
  text-decoration: none;
  width: 300px;
  color: inherit;
  padding-left: 16px;
}
.menu__mobile ul li.green {
  background: #e6ffe6;
  box-shadow: #0F0 0px 0px 0px 2px;
}
.menu__mobile ul li.green:hover {
  box-shadow: #0F0 0px 0px 20px 2px;
  text-shadow: #0F0 0px 0px 6px, #0F0 0px 0px 10px;
}
.menu__mobile ul li.red {
  background: #ffe6e6;
  box-shadow: #F00 0px 0px 0px 2px;
}
.menu__mobile ul li.red:hover {
  box-shadow: #F00 0px 0px 20px 2px;
  text-shadow: #F00 0px 0px 6px, #F00 0px 0px 10px;
}
.menu__mobile ul li.purple {
  background: #fae6fa;
  box-shadow: #c0c 0px 0px 0px 2px;
}
.menu__mobile ul li.purple:hover {
  box-shadow: #c0c 0px 0px 20px 2px;
  text-shadow: #c0c 0px 0px 6px, #c0c 0px 0px 10px;
}
.menu__mobile ul li.yellow {
  background: #ffffe6;
  box-shadow: #FF0 0px 0px 0px 2px;
}
.menu__mobile ul li.yellow:hover {
  box-shadow: #FF0 0px 0px 20px 2px;
  text-shadow: #FF0 0px 0px 6px, #FF0 0px 0px 10px;
}

body {
  background: #0d001b;
  background: linear-gradient(90deg, #0d001b 15%, #481d95 51%, #76519e 94%);
}

.cabecera {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 10;
}
@media screen and (orientation: landscape) {
  .cabecera {
    height: 15vw;
  }
}
.cabecera__logo {
  margin-right: 5%;
  height: 10vh;
}
@media screen and (orientation: landscape) {
  .cabecera__logo {
    width: 12vw;
    height: auto;
  }
}
.cabecera__vinculo {
  background-color: white;
}

.space-box {
  background: black;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  background-image: url("https://res.cloudinary.com/gelsot/image/upload/v1537745472/space-box/moon.png"), url("https://res.cloudinary.com/gelsot/image/upload/v1537745468/space-box/upper-stars.png"), url("https://res.cloudinary.com/gelsot/image/upload/v1537745472/space-box/lower-stars.png"), url("https://res.cloudinary.com/gelsot/image/upload/v1537745471/space-box/blue-nebula.png");
  background-repeat: no-repeat, repeat, repeat, repeat;
  background-position: 500px 70px, 0px 0px, 0px 0px, 0px 0px;
  background-blend-mode: normal, normal, normal, color-dodge;
  animation: space-jam linear 20s infinite forwards;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  height: 11vh;
  width: 100%;
  border-top: solid 1px white;
}
.footer__vinculo__fb {
  position: relative;
  width: fit-content;
  background-image: url(../resources/imagenes/otras/halcon.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  animation-name: halcon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 5s;
}
.footer__vinculo__fb__icono {
  width: 12vw;
  padding: 1vw;
  transform: rotate(90deg);
}
.footer__vinculo__in {
  margin-top: 2vh;
  width: fit-content;
  background-image: url(../resources/imagenes/otras/deathStar.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: deathStar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 5s;
}
.footer__vinculo__in__icono {
  width: 12vw;
  padding: 3vw;
}
.footer__vinculo__w {
  position: absolute;
  align-self: flex-end;
  font-family: star;
  font-size: 3vw;
  color: white;
  margin-bottom: 2vh;
}
.footer__vinculo__w__icono {
  width: 3vh;
  margin-right: 1vh;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__contenedor {
  width: 50vw;
  height: 50vh;
  border: solid white 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
}
.main__contenedor__titulo {
  font-size: 5vw;
  color: white;
  text-align: center;
  background-color: none;
  opacity: 1;
}
.main__contenedor__botonera {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.main__contenedor__botonera__boton {
  text-align: center;
  color: white;
  font-size: 5vw;
  margin: 1vw;
}
.main__contenedor__botonera__boton__img {
  width: 15vw;
}

.mainp {
  padding-top: 2vh;
  min-height: 75vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainp__titulo {
  color: white;
  font-size: 6vw;
  text-align: center;
}
.mainp__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.mainp__cont__subtitulo {
  margin: 3vh;
  text-align: center;
  font-size: 6vw;
  text-decoration: underline;
}
.mainp__cont__linea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainp__cont__linea__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.mainp__cont__linea__card__titulo {
  margin-bottom: 2vh;
  font-size: 5vw;
}
.mainp__cont__linea__card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.mainp__cont__linea__card__info__img {
  width: 25vw;
  border: white solid 1px;
  border-radius: 5px;
  margin: 5px;
}
.mainp__cont__linea__card__info__texto {
  font-family: "Lato", sans-serif;
  font-size: 4vw;
  font-weight: 1000;
  margin: 5px;
}

.maind {
  min-height: 77vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maind__titulo {
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  text-align: center;
  font-size: 6vw;
}
.maind__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.maind__cont__subtitulo {
  font-size: 6vw;
  margin-top: 4vh;
  text-decoration: underline;
}
.maind__cont__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.maind__cont__card__sub {
  text-align: center;
}
.maind__cont__card__elemento {
  margin: 3vh 2vw;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
.maind__cont__card__elemento__vinculo {
  width: 50%;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  font-size: 5vw;
}
.maind__cont__card__elemento__info {
  width: 50%;
  text-align: center;
  text-justify: center;
  font-size: 4vw;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
}

.sinStar {
  display: inline;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
}

.mainn {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #fff;
  min-height: 77vh;
}
.mainn__title {
  font-size: 6vw;
  align-self: center;
  margin: 1vh;
}
.mainn__faq {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}
.mainn__faq__subtitulo {
  text-align: left;
  color: #fff;
  font-size: 5vw;
  text-decoration: underline;
  margin: 2vh 1vh;
}
.mainn__faq__texto {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 4vw;
}

.mainc {
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainc__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}
.mainc__form__input {
  font-family: "Lato", sans-serif;
  border: none;
  color: #fff;
  width: 100%;
  height: 4vh;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  margin-bottom: 2vh;
  font-size: 3vw;
  border: none;
}
.mainc__form__input ::placeholder {
  background: none;
}

/*# sourceMappingURL=estilos.css.map */
